{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}